@import '../styles/variables';

.loading {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
}

.text {
  color: $text-gray-600;
}

