@use '../styles/variables' as *;

.loading {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-secondary;
}

.content {
  text-align: center;
}

.text {
  font-size: $font-size-base;
  color: $text-light;
  transition: color $transition-slow ease;
}
