@use '../styles/variables';

.about {
  padding: 5rem 1.5rem;
  background-color: var(--color-bg-gray-50);
  transition: background-color 0.3s ease;
}

.text {
  font-size: 1.125rem;
  color: var(--color-text-gray-700);
  line-height: 1.625;
  transition: color 0.3s ease;

  > * + * {
    margin-top: 1.5rem;
  }
}

