@use '../styles/variables';

.contact {
  padding: 5rem 1.5rem;
}

.description {
  font-size: 1.25rem;
  color: var(--color-text-gray-600);
  margin-bottom: 3rem;
  transition: color 0.3s ease;
  text-align: center;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.link {
  padding: 0.75rem 1.5rem;
  background-color: var(--color-bg-gray-100);
  color: var(--color-text-primary);
  border-radius: 0.5rem;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.15s ease, color 0.3s ease;

  &:hover {
    background-color: var(--color-bg-gray-200);
  }
}

