@use '../styles/variables';

.projects {
  padding: 5rem 1.5rem;
  background-color: var(--color-bg-gray-50);
  transition: background-color 0.3s ease;
}

.featuredGrid {
  display: grid;
  gap: 2rem;
  margin-bottom: 4rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.otherGrid {
  display: grid;
  gap: 1.5rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
